@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
/* https://coolors.co/020109-17181f-1a1b21-22272a-a7a79f-784c2a-f3d278 */
:root{

    /* Color Palette */
    --color-black: #020109;
    --color-raisin-black: #1A1B21;
    --color-raisin-black-dark: rgba(23, 24, 31, .9);
    --color-gunmetal: #22272A;
    --color-ash-grey: #a7a79f;
    --color-kobiche: #784C2A;
    --color-jasmine: #f3d278;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Yeseva One', sans-serif;
    color: var(--color-kobiche);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar{
    background: #f3d278;
    width: 20vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 2px solid var(--color-raisin-black);
}
.sidebar .settings-container{
    width: 100%;
    height: 40%;
    background: #22272A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sidebar .hero-container{
    width: 100%;
    height: 60%;
    background: #020109;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-values{
    padding: 10px;
    width: 100%;
    height: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
.values-life-container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.images-container{
    width: 100%;
    height: 70%;
    padding: 20px;
}
.images-container img{
    width: 100%;
    height: 100%;
}
.values-life-container ul{
    list-style: none;
}
.values-container span{
    color: yellowgreen;
}
.life-container{
    max-width: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.life-container li{
    margin-left: 10px;
}
.player{
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.player .thumbnail{
    position: absolute;
    width: 100%;
    height: 100%;
}
.player .content-container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.player .choices-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
